<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update_user</title>
</head>
<h2>Change your data</h2>
<body>
<form action="#" th:action="@{/admin/user_update}" th:object="${user}" method="post">
    <label for="id">Your changed ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/><br/>
    <label for="name">Please change your Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <br/><br/>
    <label for="surname">Please change your Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
    <br/><br/>
    <label for="password">Please change your Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/><br/>
    <label for="age">Please change your Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <br/><br/>
    <input type="submit" value="Update User">
</form>
</body>
</html>