<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>User_list</title>
</head>
<body>
<div th:switch="${allUser}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users table</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <th>Password</th>
                </div>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="message : ${allUser}">
                <td th:text="${message.name}"></td>
                <td th:text="${message.surname}"></td>
                <td><label>Hello <span th:text="${message.name}"></span></label></td>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <td th:text="${message.password}"></td>
                </div>
                <td th:text="${message.age}"></td>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <td><a th:href="@{admin/user_update/{id}(id=${message.id})}">Update</a></td>
                    <td><a th:href="@{admin/user_delete/{id}(id=${message.id})}">Delete</a></td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <p><a href="/admin/user_create">Create user</a></p>
    </div>
</div>
</body>
</html>