<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>user_page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Navigation-Clean.css" type="text/css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container-fluid">
        <div class="container my-nav-container1"><label class="text-lowercase text-center text-light" id="email" for="email"><strong>user@mail.ru</strong></label><label class="text-center">with roles:</label><label class="text-uppercase text-left" id="role" for="role">user</label></div><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link text-center text-secondary my-nav-link-logout" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid my-table">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item my-nav1"><a class="nav-link active" href="#">User</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <h2>User information-page<br></h2>
            <div class="table-responsive table-bordered">
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>About user</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="inner-table" style="border-left: 0;border-right: 0;border-bottom: 0;">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="text-center">
                                    <tr>
                                        <th class="border-left-0">ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th class="border-right-0">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    <tr>
                                        <td class="border-left-0">Cell 1</td>
                                        <td>Cell 2</td>
                                        <td>Cell 3</td>
                                        <td>Cell 4</td>
                                        <td>Cell 5</td>
                                        <td class="border-right-0">Cell 6</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>